@import "../../styles/partials/mixin";
@import "../../styles/partials/variables";

.search-form {
  padding: 16px;
  @include tablet {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    margin-bottom: 32px;
    flex-direction: row-reverse;
  }
  &__input {
    max-width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 16px;
    outline-width: 0px;
    offset: 0px;
    border: 1px solid $gray;
    @include tablet {
      width: 300px;
    }
  }
  &__filter-wrapper {
    @include tablet {
      display: flex;
      align-items: center;
    }
    &--text {
      text-align: right;
      font-size: 15px;
      font-weight: normal;
      width: 100%;
      height: 100%;
      padding-right: 10px;

      @include tablet {
        width: 100px;
      }
    }
  }
}

.search-filter {
  &__options {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 16px;
    outline-width: 0px;
    offset: 0px;
    border: 1px solid $gray;
    @include tablet {
      width: 200px;
    }
  }
}
// JS DYNAMIC CLASS
.js-border-red {
  border: 1px solid red;
}
