@import "../../styles/partials/mixin";
@import "../../styles/partials/variables";
.option-container {
  width: 100%;
  display: none;
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
  }
  &__options {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 16px;
    outline-width: 0px;
    offset: 0px;
    border: 1px solid $gray;

    &--item {
      border-width: 0px;
    }
  }

  &__options:nth-child(1),
  &__options:nth-child(2),
  &__options:nth-child(3),
  &__options:nth-child(4) {
    border-right-width: 0px;
  }
}
