@import "../../styles/partials/mixin";
@import "../../styles/partials/variables";

.header-wrapper {
  width: 100%;
  border: 1px solid $pewter;
  padding: 16px;
  margin-bottom: 16px;
  @include tablet {
    padding: 16px 32px;
    margin-bottom: 32px;
  }
}
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    max-width: 900px;
    margin: auto;
  }
  &__site-name {
    color: #264de4;
    font-size: 20px;
    font-weight: normal;
  }
  &__add-book-form-link {
    text-align: right;
    &--button {
      font-size: 13px;
      text-transform: uppercase;
      text-align: right;
      background-color: #264de4;
      color: #ffffff;
      padding: 8px;
    }
  }
}
